*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:drop-not-to-me - [0:0]
:ufw-in - [0:0]
:ufw-forward - [0:0]
:ufw-out - [0:0]

-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j LOG --log-prefix "[UFW BLOCK INVALID]: "
-A INPUT -m conntrack --ctstate INVALID -j DROP

# ok icmp codes
-A INPUT -p icmp --icmp-type destination-unreachable -j ACCEPT
-A INPUT -p icmp --icmp-type source-quench -j ACCEPT
-A INPUT -p icmp --icmp-type time-exceeded -j ACCEPT
-A INPUT -p icmp --icmp-type parameter-problem -j ACCEPT
-A INPUT -p icmp --icmp-type echo-request -j ACCEPT

# allow dhcp client to work
-A INPUT -p udp --sport 67 --dport 68 -j ACCEPT

#
# drop-not-to-me
#
# All packets get blocked in the drop-not-to-me chain, therefore, RETURN from
# the drop-not-to-me chain to have processing later on
# see http://kindergarten.madduck.net/configs/iptables
#
-A INPUT -j drop-not-to-me

# if LOCAL, RETURN
-A drop-not-to-me -m addrtype --dst-type LOCAL -j RETURN

# if MULTICAST, RETURN
-A drop-not-to-me -m addrtype --dst-type MULTICAST -j RETURN

# if BROADCAST, RETURN
-A drop-not-to-me -m addrtype --dst-type BROADCAST -j RETURN

-A drop-not-to-me -m limit --limit 3/min --limit-burst 10 -j LOG --log-prefix "[UFW BLOCK NOT-TO-ME]: "
-A drop-not-to-me -j DROP

#
# end drop-not-to-me
#

# allow MULTICAST, be sure to also uncomment the MULTICAST line above
-A INPUT -s 224.0.0.0/4 -j ACCEPT
-A INPUT -d 224.0.0.0/4 -j ACCEPT

# connection tracking for outbound
-A OUTPUT -p tcp -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -p udp -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT

#
# These lines are managed by ufw allow/deny commands and should not be
# modified manually
### DO NOT DELETE: rules start ###

### DO NOT DELETE: rules end ###
#

# catchall for logging
-A INPUT -m limit --limit 3/min --limit-burst 10 -j LOG --log-prefix "[UFW BLOCK INPUT]: "
-A FORWARD -m limit --limit 3/min --limit-burst 10 -j LOG --log-prefix "[UFW BLOCK FORWARD]: "

COMMIT
