Source: ufw
Section: admin
XS-Python-Version: >= 2.5
Priority: optional
Maintainer: Jamie Strandboge <jamie@ubuntu.com>
Build-Depends-Indep: python-central (>= 0.5.6), sed (>= 3.95), netbase, iptables
Build-Depends: debhelper (>= 5.0.38), po-debconf
Standards-Version: 3.8.0
Homepage: https://launchpad.net/ufw
Vcs-Bzr: https://bazaar.launchpad.net/~jdstrand/ufw/trunk

Package: ufw
Architecture: all
Depends: debconf, ${python:Depends}, ${misc:Depends}, iptables (>= 1.4.0), ucf
XB-Python-Version: ${python:Versions}
Description: program for managing a netfilter firewall
 Ufw is a tool to manage a netfilter firewall. It provides a command line
 interface with PF-style syntax and aims to be uncomplicated and easy to use.
 It is particularly well-suited for use as a host-based firewall.
